<header>
    <div class="fondo">
        <div class="capa-gradiente"></div>
        <div class="centro">
            <h1>Contactanos</h1>
            <p>Para mas informacion contacta con nosotros estamos para servirle.</p>
        </div>
    </div>
</header>

<main>
    <div class="main">
        <div class="Fondo1">
            <div class="contenido">
                <div class="item">
                    <img src="./assets/Imagenes/contactos/llamada.jpg" alt="Uno" class="item-img">
                    <div class="item-text">
                        <h3>Llamanos</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/Imagenes/contactos/Redes.jpg" alt="Dos" class="item-img">
                    <div class="item-text">
                        <h3>Buscanos</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="./assets/Imagenes/contactos/Correo.jpg" alt="Tres" class="item-img">
                    <div class="item-text">
                        <h3>Escribenos</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="Fondo2">
            <div class="Contenedor2">
                <img class="Img2" src="./assets/Imagenes/contactos/llamanos.jpg" alt="Comidas">
                <div class="Texto2">
                    <h1>Comunicate con una Llamada</h1>
                    <p>Comincate con nuestro asesor al siguiente numero: <strong>75992711</strong>
                        <br>Si quieres ser atendido por el estableciemineto: <strong>4 4762778</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="Fondo3">
            <div class="Contenedor3">
                <img class="Img3" src="./assets/Imagenes/contactos/sociales.jpg" alt="Servicios">
                <div class="Texto3">
                    <h1>Buscanos en nuestras Redes</h1>
                    <p>Busca nuestras redes sociales en todas plataformas:<br>
                        <strong>Facebook: Fast Food</strong><br>
                        <strong>Instagram: @FastFood</strong><br>
                        <strong>WhatsApp: +591 75992711</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="Fondo4">
            <div class="Contenedor4">
                <img class="Img4" src="./assets/Imagenes/contactos/escribir.jpg" alt="Servicios">
                <div class="Texto4">
                    <h1>Escribenos un Correo</h1>
                    <p>Escribenos y mandanos un mensaje al siguiente correo:<br>
                        <strong>FastFood@gmail.com</strong>
                    </p>
                </div>
            </div>
        </div>

        <section class="form-login">
            <form action="" method="POST" id="form">
                <div class="form">
                    <h5>Consultas y Reclamos</h5>
                    <div class="grupo">
                        <label for="">Nombre:</label>
                        <input type="text" name="" id="name" class="controls">
                    </div>
                    <div class="grupo">
                        <label for="">Email:</label>
                        <input type="email" name="" id="email" class="controls">
                    </div>
                    <div class="grupo">
                        <label for="">Password:</label>
                        <input type="password" name="" id="password" class="controls">
                    </div>
                    <div class="grupo">
                        <label for="">Asunto:</label>
                        <input type="text" name="asunto" value="" placeholder="Ingrese el asunto" class="controls">
                    </div>
                    <button type="submit" class="button">Enviar</button>
                    <br><br>
                    <p class="advertencia" id="advertencia"></p>
                </div>
                <script src="login/registro.js"></script>
            </form>
        </section>
    </div>
</main>

<footer>
    <div class="Fondo6">
        <div class="ImgRedes">
            <img src="./assets/Imagenes/facebok.jpg" alt="Redes">
            <h3>Alejandro Mollo</h3>
            <img src="./assets/Imagenes/whatsap.jpg" alt="Redes">
            <h3>+591 75992711</h3>
            <img src="./assets/Imagenes/instagram.jpg" alt="Redes">
            <h3>@al3_junior</h3>
        </div>
    </div>
    <div class="Fondo7">
    </div>
</footer>