<header>
    <div class="fondo">
        <div class="capa-gradiente"></div>
        <div class="centro">
            <h1>Galeria Fast Food</h1>
            <p>La Experiencia en Fast food no solo son imagenes son momentos y recuerdos.</p>
        </div>
    </div>
</header>

<main>
    <div class="main">
        <div class="Fondo1">
            <div class="contenido">
                <div class="item">
                    <img src="../../../assets/Imagenes/galeria/recuerdos.jpg" alt="Uno" class="item-img">
                    <div class="item-text">
                        <h3>Recuerdos</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../assets/Imagenes/galeria/fotos.jpg" alt="Dos" class="item-img">
                    <div class="item-text">
                        <h3>Momentos</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../assets/Imagenes/galeria/Camara.jpg" alt="Tres" class="item-img">
                    <div class="item-text">
                        <h3>Instantes</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="galeria">
            <h1>Experiencias en Fast Food</h1>
            <div class="contenedor-imagenes">
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/1.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/2.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/3.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/4.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/5.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/6.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/7.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/8.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
                <div class="imagenes">
                    <img src="../../../assets/Imagenes/galeria/9.jpg" alt="img">
                    <div class="overlay">
                        <h2>Esto es<br>Fast Food</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="Fondo6">
        <div class="ImgRedes">
            <img src="../../../assets/Imagenes/facebok.jpg" alt="Redes">
            <h3>Alejandro Mollo</h3>
            <img src="../../../assets/Imagenes/whatsap.jpg" alt="Redes">
            <h3>+591 75992711</h3>
            <img src="../../../assets/Imagenes/instagram.jpg" alt="Redes">
            <h3>@al3_junior</h3>
        </div>
    </div>
    <div class="Fondo7">
    </div>
</footer>