<header>
    <div class="fondo">
        <div class="capa-gradiente"></div>
        <div class="centro">
            <h1>Acerca de</h1>
            <p>Quieres saber y aprender mas acerca de nostros FastFood</p>
        </div>
    </div>
</header>
<main>
    <div class="main">
        <div class="Fondo1">
            <div class="contenido">
                <div class="item">
                    <img src="../../../assets/Imagenes/acercade/teperatura.jpg" alt="Uno" class="item-img">
                    <div class="item-text">
                        <h3>Nuestra</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../assets/Imagenes/acercade/manos.jpg" alt="Dos" class="item-img">
                    <div class="item-text">
                        <h3>Situacion</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="../../../assets/Imagenes/acercade/Pagar.jpg" alt="Tres" class="item-img">
                    <div class="item-text">
                        <h3>Actual</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="Fondo2">
            <div class="Contenedor2">
                <img class="Img2" src="../../../assets/Imagenes/acercade/Ubicacion.jpg" alt="Comidas">
                <div class="Texto2">
                    <h1>La Atencion</h1>
                    <p>La Atencion es normal con los horarios estandares definidos por la situacion actual y por desiciones tomada por el gobierno.
                        Atendemos de Lunes a Domingos desde las 17:00 a 20:00. Nos encontramos en el mismo lugar El Prado.
                    </p>
                </div>
            </div>
        </div>

        <div class="Fondo3">
            <div class="Contenedor3">
                <img class="Img3" src="../../../assets/Imagenes/acercade/servicio.jpg" alt="Servicios">
                <div class="Texto3">
                    <h1>El Servicio</h1>
                    <p>De acuerdo a la actualidad vivida por la pandemia, ofrecemos a nuestros clientes nuestros servicios de comida rapida y delivery
                        para que aun esta pandemia pueda seguir adquiriendo sus productos sin ningun problema.
                    </p>
                </div>
            </div>
        </div>

        <div class="Fondo4">
            <div class="Contenedor4">
                <img class="Img4" src="../../../assets/Imagenes/acercade/medidas.jpg" alt="Servicios">
                <div class="Texto4">
                    <h1>Las Medidas</h1>
                    <p>Nos preocupamos por cuidar, proteger a nuestros clientes y brindarles la seguridad de confiar en nosotros. De esta manera 
                        nosotros cumplimos con todos los implementos y normas de bioseguridad tanto para el personal como para los clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="Fondo6">
        <div class="ImgRedes">
            <img src="../../../assets/Imagenes/facebok.jpg" alt="Redes">
            <h3>Alejandro Mollo</h3>
            <img src="../../../assets/Imagenes/whatsap.jpg" alt="Redes">
            <h3>+591 75992711</h3>
            <img src="../../../assets/Imagenes/instagram.jpg" alt="Redes">
            <h3>@al3_junior</h3>
        </div>
    </div>
    <div class="Fondo7">
    </div>
</footer>